@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --yellow-theme-background-color: #0b0b0d;
  --yellow-theme-main-color : #009FE3;
  --yellow-theme-sub-text-color : #c0c0c0 ; 
  --yellow-theme-nav-background-color: transparent;
}

/* #2e2e2e */
/* #00AEEF */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html{
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  height: 100;
}
body {
  background-color: var(--yellow-theme-background-color);
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
}

#root{
  height: 100%;
}
